<mat-card>
    <mat-card-title i18n>Peoples</mat-card-title>
    <mat-card-content>
        <mat-list disableRipple>
            <mat-chip-list [value]="'lol'" [disabled]="true" [selectable]="false" *ngFor="let people of (peoples$ |async)">
                <ng-container *ngIf="(edited$ | async) === people.id; else showNameAction">
                    <app-edit-people [id]="people.id" [name]="people.name"></app-edit-people>
                </ng-container>

                <ng-template #showNameAction>
                    <button mat-icon-button color="primary" (click)="deletePeople(people)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="startEditPeople(people)">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <app-people [people]="people"></app-people>
                </ng-template>
            </mat-chip-list>
        </mat-list>

        <app-new-people fxLayoutAlign="center center" *ngIf="!(edited$ | async)"></app-new-people>
    </mat-card-content>
</mat-card>