<mat-card>
    <mat-card-content>
        <canvas #canvasLight class="lightness-pointer" [width]="height" [height]="height"
                (mousedown)="this.selecting = 'light'; move($event)"
                (mousemove)="move($event)">
        </canvas>
        <span>&nbsp;</span>
        <canvas #canvasColor class="color-slider" [width]="width" [height]="height"
                (mousedown)="this.selecting = 'color'; move($event)"
                (mousemove)="move($event)">
        </canvas>
    </mat-card-content>
    <mat-card-actions *ngIf="people$ | async as people">
        <div fxLayout fxLayoutAlign="space-evenly" fxFill *ngIf="color$ | async as color">
            <app-colored-circle [color]="color"></app-colored-circle>
            <div class="spacer"></div>
            <app-people (clicked)="nextColor()" [people]="people"></app-people>
        </div>
    </mat-card-actions>
</mat-card>