<mat-card>
    <mat-card-content>
        <app-lightness-pointer *ngIf="satLight$ | async as initial"
                               [initialSL]="initial"
                               (color)="setSL($event)"
                               [hue]="(hue$ | async)!">
        </app-lightness-pointer>
        <span>&nbsp;</span>
        <app-color-slider *appIfNotNull="hue$ | async as initial"
                          [initialHue]="initial"
                          (hue)="setHue($event)">

        </app-color-slider>
    </mat-card-content>
    <mat-card-actions *ngIf="people$ | async as people">
        <div fxLayout fxLayoutAlign="space-evenly" fxFill *ngIf="color$ | async as color">
            <app-colored-circle></app-colored-circle>
            <div class="spacer"></div>
            <app-people [people]="people"></app-people>
        </div>
    </mat-card-actions>
</mat-card>