<div [class.dark-theme]="darkMode$ | async" class="mat-app-background" [style.height]="'100%'" fxLayout="column">
    <mat-toolbar>
        <h1 fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-icon>price_change</mat-icon>
            <span i18n fxHide.lt-sm>TriCount complex helper</span>
            <span i18n fxHide fxShow.lt-sm>TriCount</span>
        </h1>
        <span fxFlex="1 1 auto"></span>
        <span fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
                <button mat-icon-button matTooltip="Save as image" i18n-matTooltip="Save as image"
                        color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
            <button mat-icon-button
                    (click)="toggleSideNav()"
                    fxHide fxShow.lt-md>
                <mat-icon [color]="shouldOpen ? 'accent' : 'primary'">
                    groups
                </mat-icon>
            </button>
            <span fxFlex="1 1 auto"></span>
            <mat-icon [inline]="true" color="accent">light_mode</mat-icon>
            <mat-slide-toggle (change)="setTheme($event)" [checked]="darkMode$ | async"
                              color="primary"></mat-slide-toggle>
            <mat-icon [inline]="true" color="primary">dark_mode</mat-icon></span>
    </mat-toolbar>
    <mat-sidenav-container class="container" fxFlex="1 1 auto">
        <mat-sidenav-content style="padding: 1em; height: calc(100% - 2em)">
            <div #saveScreen class="mat-app-background" [class.screen]="screenshot$ | async">
                <app-ticket></app-ticket>
                <br>
                <app-results></app-results>
            </div>
        </mat-sidenav-content>
        <mat-sidenav
                [disableClose]="!mediaShort"
                [opened]="!mediaShort || shouldOpen"
                (closed)="shouldOpen = false"
                position="end"
                [mode]="mediaShort ? 'over' : 'side'">
            <app-peoples></app-peoples>
        </mat-sidenav>
    </mat-sidenav-container>
</div>